FREESTYLE_API_KEY=""
FREESTYLE_DOMAIN="example.style.dev"
RIVET_SERVICE_TOKEN=""
RIVET_ENVIRONMENT=""

# To enable serverless
RIVET_ENGINE=""
RIVET_RUNNER_KIND="serverless"

# Optional variables with defaults:
RIVET_NAMESPACE="default" # default: "default"
RIVET_RUNNER_NAME="freestyle-runner" # default: "freestyle-runner"